* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tamma 2', Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #777;
  margin: .5rem .5rem 0;
}

h2 {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #eee;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right,
      rgba(7, 40, 60, 1),
      rgba(7, 40, 60, 0.5));
  color: #fff;
}

p {
  margin: 0 0 .5rem;
}

header,
nav,
main,
footer {
  margin: 0 auto;
  max-width: 760px;
}


main {
  padding: 0.25rem;
  background: rgba(238, 238, 238, .5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

section {
  padding: 0.75rem;
  white-space: unset;
  word-wrap: break-word;
}

section p {
  margin: 0 1rem;
  padding: 1rem;
}

footer {
  color: #000;
  padding-top: 1.2rem;
  text-align: center;
  font-size: 0.8rem;
  clear: both;
}

.smaller {
  font-size: 0.85rem;
  color: rgba(14, 14, 95, 0.9);
}

main ul {
  margin-left: 3rem;
  list-style: none;
}

main li {
  padding: 3px;
  font-size: larger;
}

main li::before {
  content: '🎦';
}

.info {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 0.5rem;
}

.callout {
  margin: 1rem 0.5rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: rgba(7, 40, 190, 0.1);
}

.label {
  font-weight: 700;
  text-align: right;
}

.smallnote {
  font-size: 0.85rem;
  font-style: italic;
}

#currentDate {
  font-size: 0.9rem;
  margin: 0 1rem 1rem;
  color: #08283C;
  font-weight: 700;
  font-style: italic;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2rem;
    margin: .5rem 0 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  main ul {
    margin-left: 3rem;
  }

  footer {
    font-size: 0.95rem;
  }
}