@charset "UTF-8";

:root {
  /* colors */
  --root-blue: rgba(50, 50, 100, 1);
  --l2-blue: rgba(50, 50, 100, 0.75);
  --l3-blue: rgba(50, 50, 100, 0.5);
  --l4-blue: rgba(50, 50, 100, 0.25);

  /* layout */
  --maxwidth: 64em;
  --altmaxwidth: 84em;
}

* {
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  font-family: Montserrat, consolas, sans-serif;
  color: var(--root-blue);
  line-height: 2;
  font-size: 16px;
}

header,
main,
footer {
  max-width: var(--maxwidth);
  margin: 0 auto;
}

header,
footer {
  padding: 0.15rem;
  color: #fff;
  box-shadow: 0 0 30px 5px #bbb;
  background: radial-gradient(circle, var(--root-blue), var(--l2-blue));
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.25rem;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  color: var(--l3-blue);
}

p {
  margin: 7px;
}

ul {
  margin-left: 25px;
}

/* Main Navigation ******************************/
nav {
  margin: 5px auto;
  max-width: var(--altmaxwidth);
}

.head-nav {
  background-color: #000;
}

.head-nav {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.head-nav li {
  flex: 1 1 auto;
  display: none;
}

.head-nav li:first-child {
  display: block;
}

.head-nav li:first-child a {
  font-size: larger;
}

.responsive li {
  display: block;
}

.head-nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.head-nav li a:hover {
  background-color: #fff;
  color: var(--root-blue);
  border: 1px solid var(--l3-blue);
}

.tight {
  margin-top: -5px;
  text-align: center;
  font-size: larger;
}

.stamp {
  display: none;
}

main,
.two-col {
  margin: 20px auto;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr;
}

section {
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
  border: 1px solid #bbb;
}

section ul {
  margin-left: 0.5rem;
  padding: 0;
  list-style: none;
}

section ul li {
  font-size: 0.95rem;
}

section ul li::before {
  content: '💡';
}

footer {
  font-size: 0.8em;
  text-align: center;
  line-height: 0.75rem;
  padding: 0.5rem;
}

footer a {
  color: #fff;
}

footer a:visited {
  color: yellow;
}

aside {
  font-size: 0.8em;
  font-variant: small-caps;
  max-width: 70vw;
  margin: 0 auto;
}

code {
  font-family: 'Courier New', Courier, Consolas, sans-serif;
  padding: 0.35rem;
  font-size: larger;
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
}

.callout {
  margin: 10px 10px 10px 30px;
  border: 1px solid #000080;
  padding: 10px;
  background-color: #eee;
  color: #000;
}

.full {
  margin: 10px auto;
  text-align: center;
}

.stamp {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  color: #000;
  text-shadow: 0 0 10px #777;
}

.autogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0;
  margin: 0 5px 10px;
}

.autogrid li {
  border: 1px solid #bbb;
  background-color: tomato;
  padding: 3px;
  color: black;
  font-weight: 700;
  text-align: center;
}

.nodec {
  list-style-type: none;
  text-decoration: none;
}

input,
select,
textarea {
  padding: 0.5rem;
}

input[type='submit'] {
  margin-top: 10px;
}

label {
  display: block;
  margin: 5px;
}

@media screen and (min-width: 37.5em) {
  html,
  body {
    height: 100%;
  }
  header,
  nav {
    border-radius: 10px;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  .head-nav {
    flex-direction: row;
  }

  .head-nav li:first-child {
    display: none;
  }

  .head-nav li {
    display: block;
  }
}

@media screen and (min-width: 64em) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .two-col {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    font-size: 1em;
    line-height: 0.5rem;
  }
}
