@charset "UTF-8";

:root {
    /* colors */
    --root-blue:rgba(50, 50, 100, 1);
    --l2-blue:rgba(50, 50, 100, .75);
    --l3-blue:rgba(50, 50, 100, .50);
    --l4-blue:rgba(50, 50, 100, .25);

    /* layout */
    --maxwidth: 850px;
}

* { box-sizing: border-box; }
html, body { height: 100%; line-height: 2; }
html { display: table; margin: auto; box-sizing: border-box; }
body {
    display: table-cell;
    background-color: white;
    font-size: 16px;
    line-height: 2;
    font-family: Montserrat, consolas, sans-serif;
    color: var(--root-blue);
}

header,
main,
footer {
    max-width: 76rem;
    margin: 0 auto;
}

header,
footer {
    padding: .25rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 30px 5px #bbb;
    background: radial-gradient(circle, var(--root-blue), var(--l2-blue));
    border-radius: 5px;
}


h1 {
    font-size: 2.1rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

h3 {
    font-size: 1rem;
    color: var(--l3-blue);
}

.head-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.head-nav li {
    flex: none;
}

.head-nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .9rem;
}

.head-nav a:hover {
    background-color: #fff;
    color: var(--root-blue);
}
nav {
    border-top:1px solid #fff;
}
main, .two-col {
    margin: 20px auto;
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: 1fr;
}

section {
    margin: 10px;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #bbb;
}

 section ul li {
     font-size: .85rem;
 }

footer {
    font-size: .85em;
    text-align: center;
    line-height: .5rem;
}

footer a {
    color: #fff;
}

footer a:visited {
    color: yellow;
}

aside {
    font-size: .8em;
    font-variant: small-caps;
}

code {
    font-family: 'Courier New', Courier, Consolas, sans-serif;
    padding: .35rem;
    font-size: larger;
    background-color: #333;
    color: #fff;
    border: 1px solid #000;
}

@media screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

 

    .head-nav ul {
        display: flex;
    }

    .head-nav li {
        flex: 1 1 100%;
    }

    .head-nav ul:nth-child(first) {
        display: none;
    }
}

@media screen and (min-width: 64em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .two-col {
        grid-template-columns: 1fr 1fr;
    }
}