:root {
    --root-blue:rgba(0, 0, 100, 1);
    --l2-blue:rgba(0, 0, 100, .75);
    --l3-blue:rgba(0, 0, 100, .50);
    --l4-blue:rgba(0, 0, 100, .25);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 2;
    font-family: Montserrat, consolas, sans-serif;
    color: var(--root-blue);
    display: table-cell;
    vertical-align: middle;
}

header, main, footer {
    max-width: 84rem;
    margin: 0 auto;
}

header,
footer {
    padding: .5rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0px 10px 10px #bbb;
    background: radial-gradient(circle,var(--root-blue), var(--l2-blue));
    border-radius: 5px;
}

header {

}

h1, h2, h3, h4 {margin:0;}

h1 {
    font-size: 2.1rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

.head-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.head-nav li {
    flex: 1 1 100%;
}

.head-nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .9rem;
}

.head-nav a:hover {
    background-color: #fff;
    color: var(--root-blue);
    
}

main {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: 1fr;
    max-width: 76rem;
}

footer {
    font-size: smaller;
}

footer a {
    color:#fff;
}

footer a:visited {
    color:yellow;
}

code {
    font-family: 'Courier New', Courier, Consolas, sans-serif;
    padding: .35rem;
    font-size: larger;
    background-color: #333;
    color: #fff;
    border: 1px solid #000;
}

@media (min-width: 37.5rem;
) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 64rem;
) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}