* {box-sizing:border-box;}
body {font-size: 16px;}
.pagewrapper {max-width: 960px; margin: 0 auto;}
h1 {padding-left: 1.2rem;}
h2 {padding-left: 1.5rem;}

nav ul {list-style: none;padding-left:0;overflow: hidden;background-color: #ddd;}
  nav li {float: left;}
    nav li a {display: block;padding: 10px;text-decoration: none;}
    nav li a:hover {background-color: #000;color: #fff;}

main { 
    overflow: auto;
}

div {font-size: .95rem;}

.col {
    display: block;
    width: 100%;
    padding: .5rem;
}
.content1 {background-color: #bbeedd;}
.content2 {background-color: #aaccee;}
.content3 {background-color: #ccaabb;}
.content4 {background-color: #ffeedd;}
.content5 img {width:200px; height:auto; text-align:center;}

footer {
    margin-top: 5px; border-top: 1px solid #bbb; padding: .5rem;
    font-size: .8rem; letter-spacing: .25rem;
    clear: both;
}

.togetherforever {
    display: inline-block;
}

@media screen and (min-width: 37.5em) {

    main {
        background: repeating-linear-gradient(45deg, #eee,#eee 1px, #fff, #fff 3px);
    }

    .col {
        margin-left: 3px;
        border: 1px solid #ddd;
        float: left;
        width: 19.6%;
        min-height: 375px;
    } 

    .content5 img {
        width: 100%; height: auto;
    }



}