body {
	background-color:#998E70;
	margin:0px;
	font-size:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color:#000000; 
}

a:link, a:visited, a:active {font-size:0.85em;text-decoration:none;color:#670001;}
a:hover {font-size:0.85em;text-decoration: underline;color: #A80D0E;}

h1 {margin: 3px 3px 3px 5px;font-size:1.15em;color:#001E4C;}
h2 {margin: 3px 3px 3px 5px;font-size:1.10em;/*	color:#C1B8A6;*/color:white;background-color:#001E4C;padding:3px 10px;border:1px #001E4C solid;}
h3 {margin: 3px 3px 3px 5px;font-size:0.95em;color:#670001;font-style:italic;}

hr {width:60%;height:1px;color:gray;}
br {clear:left;}

.tdtitle {
	text-align:center;
	background-color:#670001;
	color:white;
	font-weight:bold;
	padding:6px;
}

#navcontainer {
	width:180px;
	background-color:#C1B8A6;
	text-align:center;
	font-size:0.75em;
}