* {margin:0;}

body {
    font-family: 'Nunito', Ubuntu, Consolas, sans-serif;
    font-size: 16px;
    background-color: darkblue;
}

#pagewrap {
    width: 100%;
    margin: 0 auto;

}

header {
    height: 50px;
    color:#fff;
    position: relative;
}

header img {
    width: 50px;
    height: auto;
    display: inline-block;
}

header h1 {
    font-size: 1.1em;
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 10%;
}

.hamb {position:absolute;top:10px;right:10px;}

.topnav    {list-style:none; padding: 0; margin: 0;}
.topnav li {display:none;}
.topnav.responsive {position: relative;}
.topnav.responsive li {
    background-color:#bedbed;
    display:block;
    margin:1px 0;
    border:1px solid #bbb;

}
.topnav.responsive li a { 
    display: block; 
    padding: 5px; 
    text-align: center;
    text-decoration: none;
    color:#000;
}

.topnav.responsive li a:hover { 
    color:#fff;
    font-weight: 800;
    background-color: #333;
}


/* sidebar not displayed in Small view for some reason :-) */
#sidebar { display: none; }

#content, #middle, #sidebar {
    padding: 10px;
    text-align:center;
}

#content {
    background-color: #c0e4b9;
}

#middle {
    background-color: #eee;
}

#sidebar {
    background-color: #edeebb;
}



footer {
    
    padding: 15px 5px;
    text-align: center;
    color: #fff;
    font-size: .9em;
    
}

footer p {
    text-align:center; 
    font-size: .8em;
    font-family:Consolas, 'Courier New', sans-serif;
}

/********************************************************
     MEDIA QUERIES - not based on any particular devices
*********************************************************/
/* Small Views ~ 320px to 768px */

/* Middle Views ~ 768px to 1280px */
@media only screen and (min-width: 768px) {

    #pagewrap, nav {
        min-width: 768px;
    }

    header {
        background-color: black;
        height: 75px;
    }

    header h1 {
        left: 30%;
    }

    header img {

    }

    .topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
    }

    .topnav li {
        display: inline-block;
    }

    .topnav li a {
        display: block;
        color: #eee;
        text-align: center;
        padding: 10px 30px;
        text-decoration: none;
        transition: 0.3s;
    }

    nav ul li a:hover {
        background-color: gray;
    }

    .hamb {display: none;}
    .search {float: right;}

    #sidebar {display: block;}
}


/* Wide/Large Views ~ 1280px and up */
@media only screen and (min-width: 1280px) {

    #pagewrap, nav, main {
        width: 1280px;
        margin: 0 auto;
        border: 0;
        padding: 0;
        
    }

    header {
        background-color: darkblue;
        color: #fff;
        height: 100px;
    }

    header h1 {
        left: 30%;
        font-size: 2.5em;
    }

    header img {
        width: 128px;
        height: auto;
        margin: 0 10px -10px -40px;
        float: left;
    }

    #content, #middle, #sidebar {
        position: relative;
        display: inline-block;
        width: 31%;
        overflow: hidden;
        text-align: center;
        top: 50%;
        min-height: 225px;
    }

    p {text-align:left;}

    #middle {border:1px solid #bbb;}

}
