#wrapper {width: 96%; max-width: 920px; margin: auto;}
  header {}
  main {width: 60%; margin-right: 5%; float: left;}		
  aside {width: 35%;float: right;}
  footer {clear: both; border-top: 1px solid #bbb; padding-top: 7px; font-size: .80em;}

  /* navigation bar */
  nav li {display: inline; margin-left: 15px;}
  nav a {text-decoration:none;}

  .hamburger {display:none;}
	
  #banner img {width: 100%; height:auto;}


/* Media Queries *************************************************************/
@media screen and (max-width: 480px) {
    
    header h1, main, aside {float:none; width: 100%; margin:3px 0;}
    header h1 {height: auto; font-size:1.4em;text-align:center;}
    
    nav ul {list-style:none;padding-left:0;}
    nav ul li {display:none;}
    
    .hamburger {display:block;position:absolute;top:5px;right:5px;}
    

    /* When the responsive class is added to the unordered list */
    .navigation.responsive {position:relative;}
    .navigation.responsive li:not(.icon) {background-color:#eee;display:block;width:100%;margin:2px 0;border:1px solid #ddd;}
    .navigation.responsive li a {padding:10px; text-align:center;display:block;}
    .navigation.responsive li a:hover:not(.icon) {background-color:#ddd;}
    .navigation.responsive li.icon {position:absolute; top:2px; right:2px;}
}