:root {
  /* colors */
  --root-blue: rgba(50, 50, 100, 1);
  --l2-blue: rgba(50, 50, 100, 0.75);
  --l3-blue: rgba(50, 50, 100, 0.5);
  --l4-blue: rgba(50, 50, 100, 0.25);

  /* layout */
  --maxwidth: 64em;
  --mainmaxwidth: 54em;
  --altmaxwidth: 84em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--root-blue);
  line-height: 1.5;
  font-size: 16px;
}

header,
footer {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 0.25rem;
  color: #fff;
  box-shadow: 0 0 30px 5px #bbb;
  background: radial-gradient(circle, var(--root-blue), var(--l2-blue));
}

main {
  max-width: var(--mainmaxwidth);
  margin: 0 auto 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: Acme, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  margin: 1rem auto;
  text-align: center;
}

h3 {
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
}

p {
  margin: 1rem;
}

ul,
ol {
  margin-left: 1.2rem;
}
section {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

footer {
  font-size: 0.8em;
  text-align: center;
  line-height: 0.75rem;
}

footer a {
  color: #fff;
}

footer a:visited {
  color: yellow;
}

code {
  font-family: 'Courier New', Courier, Consolas, sans-serif;
  padding: 0.35rem;
  font-size: larger;
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
}

.autogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
  margin: 0 5px 10px;
  grid-gap: 0.5rem;
}

.center {
  text-align: center;
  margin: 0.5rem;
  color: var(--root-blue);
  font-weight: 700;
}

.left {
  text-align: left;
  border-bottom: 1px solid #777;
}

.label {
  font-weight: 700;
  color: var(--root-blue);
  margin-left: 0.5rem;
}

.nodec {
  list-style-type: none;
  text-decoration: none;
}

.backButton {
  width: 100px;
  text-align: center;
  margin: 2rem auto;
  border: 1px solid #aaa;
  padding: 0.5rem;
  background-color: #ccc;
}

.backButton a {
  text-decoration: none;
}

.due {
  border-top: 1px solid var(--l2-blue);
  border-bottom: 1px solid var(--l2-blue);
  color: tomato;
  text-align: center;
  padding: 0.25rem;
  background-color: #eee;
  margin-bottom: 0.75rem;
}

input,
select,
textarea {
  padding: 0.5rem;
}

input[type='submit'] {
  margin-top: 10px;
}

label {
  display: block;
  margin: 5px;
}

@media screen and (min-width: 37.5em) {
  html,
  body {
    height: 100%;
  }

  header,
  footer {
    padding: 0.75rem;
    border-radius: 1rem;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .autogrid {
    grid-template-columns: 1fr 1fr;
  }
}
